* {
	margin: 0;
	padding: 0;
}

.no-gutters {
  	margin-right: 0;
  	margin-left: 0;

  	> .col,
  	> [class*="col-"] {
    	padding-right: 0;
    	padding-left: 0;
  	}
}

body {
	background-color: #1d242c;
	color: #fff;
}

nav {
	position: absolute !important;
	font-size: 14px;
	background: rgba(29, 36, 44, 0.8);
	z-index: 1;
}

nav>ul>li>a {
	color: #fff;
}

nav .disabled,
nav .disabled:hover {
	color: #fff !important;
	font-size: 16px;
	cursor: default;
	border-bottom: 0px
}

nav .active,
nav a:hover {
	color: #caa977;
	border-bottom: 5px solid #caa977;
}

.a5 {
	position: absolute;
	z-index: 1;
}

.prevNext {
	position: relative;
	top: -65px;
	background: rgba(70, 75, 81, 0.78);
	border-radius: 15px;
}

.prevNext i {
	color: #6c6f74;
}

.prevNext a {
	color: #fff;
	text-decoration: none
}

.logo {
	position: absolute;
	z-index: 1;
}

.about h1 {
	font-size: 35px;
}

.about .date {
	font-size: 14px;
}

.about .news-1,
.about .news-2,
.about .news-3 {
	font-size: 16px;
}

.about .title {
	font-size: 24px;
}

.about span {
	font-size: 16px;
}

#settings {
	color: #a88e66;
}

#settings .absolute {
	position: absolute;
}

#settings .relative {
	position: relative;
}

#settings .fixed {
	position: fixed;
}

.about .cams {
	background: #464b51;
	position: relative;
	top: -10px;
}

.consulting {
	position: absolute;
	display: none;
	background: #fff;
	color: #000;
	z-index: 33;
}

.consulting span:nth-child(3) {
	font-size: 18px;
	text-transform: uppercase;
}

.consulting .call {
    background: #fff;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 5px #fff;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.consulting .call img {
	width: 60px;
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#projectSlide .card-deck .card {
	border: none;
	margin: 0;
}

@keyframes play {
    0% { color: rgb(104, 188, 119);
    	color: rgba(177, 220, 185, 0.4);
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(104, 188, 119, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(104, 188, 119, 0.4), 0 0 0 20px rgba(104, 188, 119, 0.2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(104, 188, 119, 0.4), 0 0 0 30px rgba(104, 188, 119, 0.2);
    }
}

.carousel .title {
	position: absolute;
	z-index: 1;
}

.carousel .ellipse-1,
.carousel .ellipse-2,
.carousel .ellipse-3,
.carousel .ellipse-4 {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(202, 169, 119, 0.84);
	border-radius: 100%;
	width: 145px;
	height: 145px;
}

.carousel .ellipse-1 img,
.carousel .ellipse-2 img,
.carousel .ellipse-3 img,
.carousel .ellipse-4 img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

footer {
	/*background-color: #1d242c;*/
	color: #fff;
}

footer h3,
footer h4 {
	font-size: 35px;
	text-transform: uppercase;
}

footer .title {
	color: #fff;
	font-size: 18px;
}

footer .description {
	color: #7f8388;
	font-size: 16px;
}